{% extends 'base.html.twig' %}

{% block title %}Редактирование профиля{% endblock %}

{% block body %}
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
            <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Профиль</span>
            </a>
            <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
                <a href="{{ path('app_booking') }}"
                   class="text-white bg-[#0BC5EA] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Записаться</a>
            </div>
        </div>
    </nav>

    <div class="flex justify-center items-center min-h-screen bg-white">
        <div class="w-[380px]">
            <div class="text-3xl mb-3 font-semibold flex flex-row items-center gap-5">
                <div>Редактирование профиля</div>
            </div>

            {% for message in app.flashes('info') %}
                <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50"
                     role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                     role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_errors(profileForm) }}

            {{ form_start(profileForm) }}

            {{ form_row(profileForm.email) }}
            {{ form_row(profileForm.name) }}
            {{ form_row(profileForm.phone) }}
            {{ form_row(profileForm.isVerified) }}


            <button type="submit" class="py-1.5 px-2 bg-[#0BC5EA] w-full rounded-md mt-3 text-white">
                Сохранить
            </button>
            {{ form_end(profileForm) }}
        </div>
    </div>
{% endblock %}
