{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <div class="flex justify-center items-center min-h-screen bg-white">
        <div class="w-[380px]">
            <h1 class="text-center text-3xl mb-3 font-semibold">Регистрация</h1>

            {% for message in app.flashes('error') %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.name) }}

            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="py-1.5 px-2 bg-[#0BC5EA] w-full rounded-md  text-white">Отправить</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
